#donation-input,
#donation-currency{
    font-size: 20px;
}

#projDrop{
    display: block;
    margin: auto;
    width: 90%;
}
#donation-input{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    color: black;
}

#donation-slider{
    width: 100%;
    margin-bottom: 20px;
}

#slide-rail{
    height: 1px;
    width: 100%;
    background: darkgrey;
    margin-bottom: 30px;
}

#slide-grip{
    position: absolute;
    height: 30px;
    width:  30px;
    border-radius: 50%;
    background-color: #3490e0;
    background-image: url("aco-bird-white.png");
    background-size: 24px;
    background-repeat: no-repeat ;
    background-position: 2px 5px;
    margin-top: -15px;
    cursor: pointer;
}

#min-donation{
    float: left;
}

#max-donation{
    float:right;
}
